<div class='container' ng-controller='editallController'>
    <div class='col-md-12' 'col-sm-12' 'col-xs-12'>
        <div class='fill'>
            <div class="col-sm-8 col-sm-offset-2">
                <!-- PAGE HEADER -->
                <div class="page-header">
                    <h1>Reservation Control Panel</h1>
                </div>
                <pre><em>All the reservations from the server will be populated here and can be edited by the Owner</em></pre>
                <a href='#/tablelayout'button type='button' class='btn  btn-primary'>View Seating Area</button></a>
             
                
            </div>
        </div>
    </div>
</div>