<div class='container' >
    <div class='col-md-12' 'col-sm-12' 'col-xs-12'>
        <div class='fill'>
            <div class="col-sm-8 col-sm-offset-2">
                <!-- PAGE HEADER -->
                <div class="page-header">
                    <h1>Seating Area</h1>
                </div>
                <img src="Images/20-x-30-layout-round-tables.jpg"> 
                <p><b>Entance</b></p>
                <a href='#/editall'><button type='button' class='btn  btn-primary'>Edit Reservation</button></a>
                 </div>
                <div class="col-xs-12" style="height:45px;"></div>
            </div>
        </div>
    </div>
</div>