<div class='container' ng-controller='viewallController'>
    <div class='col-md-12' 'col-sm-12' 'col-xs-12'>
        <div class='fill'>
            <div class="col-sm-8 col-sm-offset-2">
                <!-- PAGE HEADER -->
                <div class="page-header">
                    <h1>View All Reservations</h1>
                </div>
                <pre><em>All the reservations from the server will be populated here</em></pre>
                <a href='#/editall'><button type='button' class='btn  btn-primary'>Edit Reservation</button></a>
             
                
            </div>
        </div>
    </div>
</div>