
<div class= 'container'>
    <div class='row'>
    <div class='col-md-12''col-sm-12' 'col-xs-12'>
        
     
    <div id="carousel-example-generic" class="carousel slide pane" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    
  </ol>
 
  <!-- Wrapper for slides -->
  <div id="carousel-example-generic" class="carousel slide pane " data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    
      
  </ol>
 
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    
    <div class="item active">
      <img src="Images/bg.jpg" alt="...">
      <div class="carousel-caption">
          <a href='#/About' ><button type="button" class="btn btn-default jump">Menu</button></a>
      </div>
    </div>
    <div class="item">
      <img src="Images/North-Indian-Thali-meal-North-India.jpg" alt="...">
      <div class="carousel-caption">
        
      </div>
    </div>    
    <div class="item">
      <img src="Images/Indian-food-specialties.jpg" alt="...">
      <div class="carousel-caption">
          
         
      </div>
    </div>
    <div class="item">
      <img src="Images/reserve-a-table.jpg" alt="...">
      <div class="carousel-caption">
          
          <a href='#/booktable'><button type="button" class="btn btn-default jump">Grab a table!</button></a>
      </div>
    </div>    
 
  </div>
 
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev" target="_self">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next" target="_self">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div> <!-- Carousel -->
    
    </div>
            
    </div>
    
    
    
    <div class='row'>
    <div class='col-md-8''col-sm-12' 'col-xs-12'>    
    <div class='fill'>     
    <ul class='list-unstyled'> 
     <li>
        <img class='Img-brand img-responsive pull-right' src="Images/biryanipotimage.jpg" class="img-responsive" alt="Interview Image">   
         <h3>We have a goal:</h3>
         <ul class='list-unstyled'>
         <li><p><strong>To bring you the best dining experience , and to reduce your time sitting in front of a computer reading and searching for the best restaurant.</strong> </p> </li>
         <li><p><strong>Spice Rack understands the value of time, and the human toll it takes on an individual body, mind, and soul to eat at every restaurnt, research the food that was made by other chefs, and select the appropriate restaurant to your needs. We are here to help you get the best food money can get.</strong></p></li>
         </ul>
        
        
        </li>
    </ul>
    </div>
    </div>    
        
        
    <div class='col-md-offset-1 col-md-3 col-sm-12 col-xs-12  newsletter'>
    <h3>Follow and Like Us</h3>
    <p><i class="fa fa-rss-square pull-right"></i>Please Follow & Like Us</p>
     <div class="text-center pull-left follow-us">
        Follow Us
    </div>
    <br />
    <div class="pull-left">
        <a class="fa fa-facebook social-icon" href="#" target="_blank"></a>
        <a class="fa fa-twitter social-icon" href="#" target="_blank"></a>
        <a class="fa fa-google-plus social-icon" href="#" target="_blank"></a>
        <br/>
        <br/>
    </div>     
    </div>
    </div>
    </div>

</div>
